body {
  margin: 1rem;
  font-family: 'Open Sans','proxima-nova','proxima nova','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

button[data-mce-name="fontsize"], button[data-mce-name="fontsize"] .tox-tbtn__select-label {
    width: fit-content !important;
}

a {
  color: #00757c;
  font-weight: 500;
  text-decoration: none;
}
a:hover, a:focus {
  color: #ffd200;
  text-decoration: underline;
}

img {
  border-radius: 12px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #ffd200;
}

p {
    margin: 0 0 10px
}
p:has(+ul), p:has(+ol) {
  margin-bottom: 2px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}

ul, ol {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

li {
  margin: 0 0 6px 30px;
}
